.movie-list {
    padding: 40px 15px 20px 15px;
    margin: 80px auto;
    position: relative;
    border-radius: 40px;
    background-color: #232323;
    box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.4);

    .movie-list-title {
        color: #232323;
        // -webkit-text-fill-color: rgba(0,0,0,0.0); /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(121, 81, 168);
        font-size: 104px;
        text-transform: lowercase;
        position: absolute;
        top: -95px;
    }

    .movie-list-content {
        display: flex;
        flex-wrap: wrap;
    }
}
