html,
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  background: linear-gradient(120deg, rgba(35, 35, 35, 1) 65%, rgba(121, 81, 168, 1) 65%);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 0;
}

h1,
h2,
h3 {
  margin: 0;
}
